<a href="https://colab.research.google.com/github/AIS-SG/Python-Math-Study/blob/master/%EC%9E%90%EB%A3%8C%ED%98%95_Copy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 문법 정리
## 제작자 : AIS-SG
### 참고자료 : 혼자 공부하는 파이썬

# 1. 자료형

### 자료 : 프로그램이 처리할 수 있는 모든것
### 프로그램 : 자료들을 처리하기 위한 모든 행위
#### 
### 자료형 : 개발자들이 쉽게 사용할 수 있도록 기능과 역할에 따라서 자료를 구분한 종류
#### 문자열(string) : 메일 제목, 메시지 내용 등
#### 숫자(number) : 물건의 가격, 학생의 성적 등
#### 불 : 친구의 로그인 상태 등 ----> ex) True, False

## 자료를 알아야 하는 이유
### 1. 기본적인 단위라고 할 수 있는 자료의 의미를 아는 것은 물론, 그 쓰임새를 확실하게 알기위해서

## 자료형 확인하기 : type()

In [ ]:
print(type("안녕하세요"))
print(type(273))

<class 'str'>
<class 'int'>

## 문자열 만들기 : string

In [ ]:
# 하나만 출력
print("# 하나만 출력합니다.")
print("Hello Python Programming...!")
print()  # 빈 줄 출력

# 하나만 출력합니다.
Hello Python Programming...!

In [ ]:
# 여러 개를 출력
print("# 여러 개를 출력합니다.")
print(10,20,30,40,50)
print("안녕하세요","저의","이름은","AIS"+"-"+"SG입니다!") # ,를 하면 한칸 띄기 +를 하면 띄우지 않고 붙이기

# 여러 개를 출력합니다.
10 20 30 40 50
안녕하세요 저의 이름은 AIS-SG입니다!

In [ ]:
# 문자열 내부에 따옴표 넣기
print(""안녕하세요"라고 말했습니다") #구문 오류

SyntaxError: invalid syntax (<ipython-input-15-e306caae907c>, line 2)

In [ ]:
print('"안녕하세요"라고 말했습니다.')
print("'배가 고픕니다'라고 생각했습니다.")

"안녕하세요"라고 말했습니다.
'배가 고픕니다'라고 생각했습니다.

### 이스케이프 문자를 사용해 문자열 만들기
#### 이스케이프 문자 : 역슬래시(\) 기호와 함께 조합해서 사용하는 특수한 문자
#### \\" : 큰따옴표를 의미
#### \\' : 작은 따옴표를 의미

In [ ]:
print("\"안녕하세요\"라고 말했습니다") 
print('\'배가 고픕니다\'라고 생각합니다')

"안녕하세요"라고 말했습니다
'배가 고픕니다'라고 생각합니다

#### \\n : 줄바꿈을 의미
#### \\t : 탭을 의미

In [ ]:
print("안녕하세요\n안녕하세요")
print()
print("안녕하세요\t안녕하세요")

안녕하세요
안녕하세요

안녕하세요	안녕하세요

In [ ]:
# \t로 탭 사용하기
print("이름\t나이\t지역")
print("윤인성\t25\t강서구")
print("윤아린\t24\t강서구")
print("구름\t3\t강서구")

이름	나이	지역
윤인성	25	강서구
윤아린	24	강서구
구름	3	강서구

#### \\\ : 역슬래시를 의미

In [ ]:
print("\\ \\ \\ \\")

\ \ \ \

### 여러 줄 문자열 만들기

In [ ]:
print("동해물과 백두산이 마르고 닳도록\n하느님이 보우하사 우리나라 만세\n무궁화 삼천리 화려강산 대한사람\n대한으로 길이 보전하세")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

In [ ]:
# 여러 줄 문자열은 큰따옴표 또는 작은 따옴표를 세 번 반복한 기호를 사용
print("""동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세""")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려강산 대한사람
대한으로 길이 보전하세

## 문자열 연산자

In [ ]:
print("안녕"+"하세요")

안녕하세요

In [ ]:
print("안녕하세요"+1) # 문자열은 무조건 문자열끼리 +기호를 사용해서 연결해야함

TypeError: must be str, not int

In [ ]:
# 문자열 반복 연산자 : *
print("안녕하세요"*3)
print(3*"안녕하세요")

안녕하세요안녕하세요안녕하세요
안녕하세요안녕하세요안녕하세요

In [ ]:
# 문자 선택 연산자(인덱싱) : []
print("문자 선택 연산자에 대해 알아볼까요?")
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

문자 선택 연산자에 대해 알아볼까요?
안
녕
하
세
요

In [ ]:
print("문자를 뒤에서부터 선택해 볼까요?")
print("안녕하세요"[-1])
print("안녕하세요"[-2])
print("안녕하세요"[-3])
print("안녕하세요"[-4])
print("안녕하세요"[-5])

문자를 뒤에서부터 선택해 볼까요?
요
세
하
녕
안

In [ ]:
# 문자열 범위 선택 연산자(슬라이싱) : [:]
print("안녕하세요"[1:4])
print("안녕하세요"[0:2])
print("안녕하세요"[1:3])
print("안녕하세요"[2:4])

print("안녕하세요"[1:])
print("안녕하세요"[:3])

녕하세
안녕
녕하
하세
녕하세요
안녕하

In [ ]:
hello = "안녕하세요"
print(hello[0:2])
hello

안녕

'안녕하세요'

## IndexError(index out of range)예외
### 리스트/문자열의 수를 넘는 요소/글자를  선택할 때 발생

In [ ]:
print("안녕하세요"[10]) # '안녕하세요'는 5문자인데 10번째 문자를 부르고 있다.

IndexError: string index out of range

## 문자열의 길이 구하기 : len()

In [ ]:
print(len("안녕하세요"))

5

# 숫자

##### 정수형 : 소수점이 없는 숫자
##### 실수형 : 소수점이 있는 숫자

## 숫자의 종류

In [ ]:
print(273)
print(52.273)

273
52.273

In [ ]:
print(type(52))
print(type(52.273))

<class 'int'>
<class 'float'>

##### int(integer) : 정수
##### float(floating point) : 부동 소수점(실수)

In [ ]:
print(0)
print(type(0))
print(0.0)
print(type(0.0))

0
<class 'int'>
0.0
<class 'float'>

##### e 앞에 있는 수는 앞자리 수의 숫자, 뒤에 있는 수는 0의 개수

In [ ]:
0.522273e2

52.2273

In [ ]:
5e3

5000.0

## 숫자 연산자

In [ ]:
# 사칙 연산 : +, -, *, /

print("5 + 7 =",5 + 7)
print("5 - 7 =",5 - 7)
print("5 * 7 =",5 * 7)
print("5 / 7 =",5 / 7)

5 + 7 = 12
5 - 7 = -2
5 * 7 = 35
5 / 7 = 0.7142857142857143

In [ ]:
# 정수 나누기 연산자 : //
print("3 / 2 =",3 / 2)
print("3 // 2 =",3 // 2)

3 / 2 = 1.5
3 // 2 = 1

In [ ]:
# 나머지 연산자 : %
print("5 % 2=", 5 % 2)

5 % 2= 1

In [ ]:
# 제곱 연산자 : **
print("2 ** 1=", 2**1)
print("2 ** 2=",2**2)
print("2 ** 3=", 2**3)
print("2 ** 4=",2**4)

2 ** 1= 2
2 ** 2= 4
2 ** 3= 8
2 ** 4= 16

## TypeErro 예외

In [ ]:
string = "문자열"
number = 273
string + number

TypeError: must be str, not int

## 문자열 연산자의 우선순위

In [ ]:
print("안녕"+"하세요" * 3)

안녕하세요하세요하세요

In [ ]:
print(("안녕"+"하세요") * 3)

안녕하세요안녕하세요안녕하세요

In [ ]:
print("안녕" + ("하세요" * 3))

안녕하세요하세요하세요

# 변수와 입력

##### 변수 : 값을 저장할 때 사용하는 식별자

In [ ]:
pi = 3.14159265
pi

3.14159265

In [ ]:
print(pi + 2)
print(pi - 2)
print(pi * 2)
print(pi / 2)
print(pi % 2)
print(pi * pi)

5.14159265
1.1415926500000002
6.2831853
1.570796325
1.1415926500000002
9.869604378534024

## pi에 저장한 값을 이용해 원의 둘레와 넓이를 구하기

In [ ]:
# 변수 선언과 할당
pi = 3.14159265
r = 10 

# 변수 참조
print("원주율 =",pi)
print("반지름 =",r)
print("원의 둘레 =",2*pi*r)
print("원의 넓이 =",pi*r*r)

원주율 = 3.14159265
반지름 = 10
원의 둘레 = 62.831853
원의 넓이 = 314.159265

In [ ]:
# 복합 대입 연산자 : +=, -=, *=, /=, %=, **=
number = 100
number +=10
number +=20
number +=30
print("number:",number)

string = "안녕하세요"
string += "!"
string += "!"
print("string :",string)

number: 160
string : 안녕하세요!!

## 사용자 입력 : input()

##### input 함수 괄호 안에 입력한 내용을 프롬프트 문자열이라고 한다.

In [ ]:
input("인사말을 입력하세요> ")

인사말을 입력하세요>

''

In [ ]:
string = input("인사말을 입력하세요> ")
print(string)

인사말을 입력하세요> 안녕하세요
안녕하세요

## input() 함수의 입력 자료형
##### input() 함수는 사용자가 무엇을 입력해도 결과는 무조건 문자열 자료형이다.

In [ ]:
print(type(string))

<class 'str'>

In [ ]:
number = input("숫자를 입력하세요> ")
print(number)

숫자를 입력하세요> 12345
12345

In [ ]:
print(type(number))

<class 'str'>

## 문자열을 숫자로 바꾸기

In [ ]:
string_a = input("입력A> ")
int_a = int(string_a)

string_b = input("입력B> ")
int_b = int(string_b)

print("문자열 자료:", string_a + string_b)
print("숫자 자료:",int_a+int_b)

입력A> 273
입력B> 52
문자열 자료: 27352
숫자 자료: 325

## ValueError 예외

##### 숫자가 아닌 것을 숫자로 변환하려고 할 떄

In [ ]:
int("안녕하세요")
float("안녕하세요")

ValueError: invalid literal for int() with base 10: '안녕하세요'

##### 소수점이 있는 숫자 형식의 문자열을 int()함수로 변환하려고 할 때

In [ ]:
int("52.273")

ValueError: invalid literal for int() with base 10: '52.273'

## 숫자를 문자열로 바꾸기

In [ ]:
""" str(다른 자료형) """
output_a =str(52)
output_b = str(52.273)
print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'str'> 52
<class 'str'> 52.273

# 숫자와 문자열의 다양한 기능

## 문자열의 format( ) 함수

##### format( ) 함수는 문자열이 가지고 있는 함수이다.
##### format( ) 함수 관호 안 매개변수의 개수와 중괄호의 개수는 반드시 같아야  한다.

In [ ]:
# format() 함수로 숫자를 문자열로 변환하기
string_a = "{}".format(10)

# 출력하기
print(string_a)
print(type(string_a))

10
<class 'str'>

In [ ]:
# format() 함수로 숫자를 문자열로 변환하기
format_a = "{}만원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만 원 만들기 ".format(5000)
format_c = "{} {} {}".format(3000,4000,5000)
format_d = "{} {} {}".format(1, "문자열", True)
# 출력하기
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만원
파이썬 열공하여 첫 연봉 5000만 원 만들기
3000 4000 5000
1 문자열 True

## IndexError 예외
##### IndexError는 {} 기호의 개수가  format() 함수의 매개변수 개수보다 많으면 발생한다.

In [ ]:
"{} {}".format(1,2,3,4,5)

'1 2'

In [ ]:
"{} {} {}".format(1, 2)

IndexError: tuple index out of range

## format( ) 함수의 다양한 기능

#### 정수 출력의 다양한 형태

In [ ]:
# 정수
output_a="{:d}".format(52)

# 특정 칸에 출력하기
output_b="{:5d}".format(52)     # 5칸
output_c="{:10d}".format(52)    # 10칸

# 빈칸을 0으로 채우기
output_d="{:05d}".format(52)    # 양수
output_e="{:05d}".format(-52)   # 음수

print("# 기본")
print(output_a)
print("# 특정 칸에 출력하기")
print(output_b)
print(output_c)
print("# 빈 칸을 0으로 채우기")
print(output_d)
print(output_e)

# 기본
52
# 특정 칸에 출력하기
   52
        52
# 빈 칸을 0으로 채우기
00052
-0052

In [ ]:
# 기호와 함께 출력하기
output_f="{:+d}".format(52)     # 양수
output_g="{:+d}".format(-52)    # 음수
output_h="{: d}".format(52)     # 양수: 기호 부분 공백
output_i="{: d}".format(-52)    # 음수: 기호 부분 공백

print("# 기호와 함께 출력하기")
print(output_f)
print(output_g)
print(output_h)
print(output_i)

# 기호와 함께 출력하기
+52
-52
 52
-52

In [ ]:
# 조합하기
output_h="{:+5d}".format(52)     # 기호를 뒤로 밀기: 양수
output_i="{:+5d}".format(-52)    # 기호를 뒤로 밀기: 음수
output_j="{:=+5d}".format(52)    # 기호를 앞으로 밀기: 양수
output_k="{:=+5d}".format(-52)   # 기호를 앞으로 밀기: 음수
output_l="{:+05d}".format(52)    # 0으로 채우기: 양수
output_m="{:+05d}".format(-52)   # 0으로 채우기: 음수

print("# 조합하기")
print(output_h)
print(output_i)
print(output_j)
print(output_k)
print(output_l)
print(output_m)

# 조합하기
  +52
  -52
+  52
-  52
+0052
-0052

#### 부동 소수점 출력의 다양한 형태

In [ ]:
output_a="{:f}".format(52.273)     
output_b="{:15f}".format(52.273)    # 15칸 만들기
output_c="{:+15f}".format(52.273)   # 15칸에 부호 추가하기
output_d="{:+015f}".format(52.273)  # 15칸에 부호 추가하고 0으로 채우기

print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273000
      52.273000
     +52.273000
+0000052.273000

In [ ]:
output_a="{:15.3f}".format(52.273)     
output_b="{:15.2f}".format(52.273)    
output_c="{:15.1f}".format(52.273)   

print(output_a)
print(output_b)
print(output_c)

         52.273
          52.27
           52.3

#### 의미 없는 소수점 제거하기

In [ ]:
output_a = 52.0
output_b = "{:g}".format(output_a)
print(output_a)
print(output_b)

52.0
52

## 대소문자 바꾸기 : upper( )와 lower( )

##### upper( ) 함수는 문자열의 알파벳을 대문자로,
##### lower( ) 함수는 문자열의 알파벳을 소문자로 만듭니다.

In [ ]:
a = "Hello Python Programming...!"
a.upper()

'HELLO PYTHON PROGRAMMING...!'

In [ ]:
a.lower()

'hello python programming...!'

##### upper()함수와 lower()함수를 사용하면 a의 문자열이 바뀔 것이라 생각하지만 절대로 원본은 변하지 않는다.

In [ ]:
a

'Hello Python Programming...!'

## 문자열 양옆의 공백 제거하기 : strip()

##### strip() 함수는 문자열 양옆의 공백을 제거한다.
##### lstrip() 함수는 문자열 왼쪽의 공백을 제거한다.
##### rstrip() 함수는 문자열 오른쪽의 공백을 제거한다.

In [ ]:
input_a = """
    안녕하세요
문자열의 함수를 알아봅니다
"""
print(input_a)

    안녕하세요
문자열의 함수를 알아봅니다

In [ ]:
print(input_a.strip())

안녕하세요
문자열의 함수를 알아봅니다

In [ ]:
print(input_a.lstrip())

안녕하세요
문자열의 함수를 알아봅니다

In [ ]:
print(input_a)

    안녕하세요
문자열의 함수를 알아봅니다

## 문자열의 구성 파악하기 : isOO( )

##### 문자열이 소문자로만 구성되어 있는지, 알파벳으로만 구성되어있는지, 
##### 숫자로만 구성되어 있는지 등을 확인할 때는 is로 시작하는 이름의 함수를 사용합니다.

##### isalnum( ) : 문자열이 알파벳 또는 숫자로만 구성되어 있는지 확인합니다.
##### isalpha( ) : 문자열이 알파벳으로만 구성되어  있는지 확인합니다.
##### isidentifier( ) : 문자열이 식별자로 사용할 수 있는지 확인합니다.
##### isdecimal( ) : 문자열이 숫자로 인식될 수 있는지 확인합니다.
##### isdigit( ) : 문자열이 정수 형태인지 확인합니다.
##### isspace( ) : 문자열이 공백으로만 구성되어 있는지 확인합니다.
##### islower( ) : 문자열이 소문자로만 구성되어 있는지 확인합니다.
##### isupper( ) : 문자열이 대문자로만 구성되어 있는지 확인합니다.

In [ ]:
print("TrainA10".isalnum())
print("10".isdigit())

True
True

## 문자열 찾기 : find( )와 rfind( )

##### find( ) : 왼쪽부터 찾아서 처음 등장하는 위치를 찾습니다.
##### rfind( ) : 오른쪽부터 찾아서 처음 등장하는 위치를 찾습니다.

In [ ]:
output_a = "안녕안녕하세요".find("안녕")
print(output_a)

0

In [ ]:
output_b = "안녕안녕하세요".rfind("안녕")
print(output_b)

2

##### 0 1 2 3 4 5 6
##### 안녕안녕하세요

## 문자열과 in 연산자

##### in 연산자 : 문자열 내부에 어떤 문자열이 있는지 확인

In [ ]:
print("안녕" in "안녕하세요")

True

In [ ]:
print("잘자" in "안녕하세요")

False

## 문자열 자르기 : split( )

##### split( ) : 문자열을 특정한 문자로 자를 때 사용

In [ ]:
a = "10 20 30 40 50".split(" ")
print(a)

['10', '20', '30', '40', '50']